<h1>The twig template</h1>
<p>Variable 1: <b>{{ variable1 }}</b></p>
<p>Variable 2: <b>{{ variable2 }}</b></p>
<p>And you passed this array:</p>

<ul>
  {% for item in variable3 %}
    <li>
      {{ item }}
    </li>
  {% endfor %}
</ul>
<p>DONE!!!</p>
